@charset "utf-8";

.title {
  color: #666666;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -3px;
  text-align: center;
  padding: 5px;
  margin: 0; }

.navigation-bar {
  margin: 0px;
  padding: 10px 0 0 20px;
  float: left;
  position: absolute;
  a {
    border-radius: 10px;
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    &:hover {
      background-color: #555555;
    }
    &.active {
      background-color: #777777;
      color: #000000;
    }
  }
}

.body-text {
  color: white;
  float: left;
  font-size: 20px;
  margin: 10px;
}

.subtitle {
  color: #aaaaaa;
  font-size: 30px;
  margin: 10px;
}

.tutorial {
  float: right;
  width: 560px;
  height: 315px;
  margin: 0 40px 0 3  0px;
}
