---
title: About
---

<div class="welcome">
  <h1 class="title">Spigottown</h1>
  <p class="doc">
    <!--<%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>-->

	<div>
		<p class="body-text">
			Spigottown is a Minecraft Spigot server that uses Bukkit plugins. It is not a modded server, any vanilla Minecrat client is compatible. Unlike many other servers in our cohousing community, Spigottown is very much controlled by the administration and therefore not subject to griefing (the stealing and destroying that happens on many other Minecraft servers). The founders are Aidan Slate and Nolan Slate, however, the administrators include the founders and Juliana Maki and Liam Buzby. We all hope you enjoy playing on Spigottown!
		</p>
		<h1 class="subtitle">
			Rules
		</h1>
		<p>
			<ul class="body-text">
				<li>
					No more people will be accepted as an operator, administrator, or any higher position without the agreement of all administators, to prevent the possibility of untrustworthy users with power.
				</li>
				<li>
					Griefing is made impossible within the city and the superflat world, however, if you find another user's creation outside the barrier of the city, you are encouraged not to destroy to change it.
				</li>
				<li>
					Plugins will prevent you from entering most swears in the chat. There are definitely loopholes, as there are swears not in the swearlist and many modifications of swears that are not mentioned. So please, for the benefit of the younger users on our server, do not swear.
				</li>
			</ul>
		</p>
	</div>

  </p><!-- .doc -->
</div><!-- .welcome -->