---
title: Home
---

<div class="welcome">
  <h1 class="title">Spigottown</h1>
  <p class="doc">
    <!--<%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>-->

    <h1 class="subtitle">
    	News
    </h1>

	<div>
		<p class="news">
			<img src="images/city-screenshot.png" style="width:300px;float:right;">
			Shops are all the rage these days! Create your own shop in the Jungle Shop today! You can sell everything from wooden planks to ender pearls. Don't forget to buy things too. But keep track of your Fé. If you're broke, there's not a whole lot you can buy. To connect, enter in the ip: 54.152.146.218. Have fun, and play Spigottown!
		</p>
	</div>

  </p><!-- .doc -->
</div><!-- .welcome -->