---
title: Support
---

<div class="welcome">
  <h1 class="title">Spigottown</h1>
  <p class="doc">
    <!--<%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>-->

    <p class="body-text">
    	As new and innovative as Spigottown is, you are likely to be confused by much of our content and plugins. Some of the plugins will affect you greatly and directly, and some of these tutorials should clear up much confusion. If something is still unclear, use the mail plugin to send a message to ASlate, NSlate, julimaki, or sdunphy.
    </p>

    <h1 class="subtitle">
    	Better Shops
    </h1>

	<p class="body-text">
    	<iframe src="https://www.youtube.com/embed/orbRDJbxhgM" frameborder="0" allowfullscreen class="tutorial"></iframe>
    	Better Shops is a Bukkit plugin that allows to create shops and sell items along with buying items from other people. It is in the currency of Fé, an economy plugin we have installed. Keep track of your money to be in a state where you can buy the items you need. As a result, you should be able to succeed with a single profession on Spigottown. In this video, HazardousMouse will explain to you how it works.
    </p>

    <h1 class="subtitle">
    	ColorMe
    </h1>
    	
    <p class="body-text">
    	<iframe src="https://www.youtube.com/embed/Mq_Ba0gy6Os" frameborder="0" allowfullscreen class="tutorial"></iframe>
		ColorMe is another helpful plugin. You can use it to change the color of you username or other's usernames. You can also add a prefix or suffix to the username. It comes with a price, however. You must pay five Fé for each time you change a color, prefix, or suffix. In this video, Gavanand Kali will explain to you how it works.
	</p>

    <h1 class="subtitle">
        Fé-Economy
    </h1>

    <p class="body-text">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9NDOeSJhnIo" frameborder="0" allowfullscreen class="tutorial"></iframe>
        This is an economy plugin we hope you use consistently on Spigottown. It is simple and easy, and most of the commands he lists don't even relate to what you're doing. The part with the config and other text files is also irrelevent, so just take a look at the commands to check your balance.
    </p>

    <h1 class="subtitle">
    	Simple-Mail
    </h1>

    <p class="body-text">
    	There is no tutorial video for the Simple-Mail plugin, however, you can <a href="http://dev.bukkit.org/bukkit-plugins/odium-simplemail/">click here</a> to get to the Simple-Mail page.
    </p>

  </p><!-- .doc -->
</div><!-- .welcome -->